<%- include('partials/header') %>

<% if (customer.role === 'CUST') { %>
<%- include('partials/navigation_cust') %>
<% } else { %>
<%- include('partials/navigation_admin') %>
<% } %>

<div class="container centered">
  <h1 class="portal-h1">Vehicle Registration Portal</h1>
  <img class="home-img" src="img/rego.png"></img>
</div>

<%- include('partials/footer') %>
