<%- include('partials/header') %>

<%- include('partials/navigation_cust') %>

<div class="container centered">
  <h1 class="portal-h1">Registration Submitted</h1>
  <img class="success-img" src="img/thumbs-up.jpeg"></img>
</div>

<%- include('partials/footer') %>