{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Tasks</title>
        <link rel="stylesheet" href="{% static 'task_master_app/style.css' %}">
    </head>

    <body>
        <ul class="nav-bar">
            <li><a href="{% url 'home' %}"><img class="nav-bar-logo" src="{% static 'task_master_app/Logo Light.png' %}"></a></li>
            <li class="nav-bar-active"><a href="{% url 'tasks' profile.get_name %}">My Tasks</a></li>
            <li><a href="{% url 'create_task' %}">Create Task</a></li>
            <li><a href="{% url 'connections' profile.get_name %}">My Connections</a></li>
            <li><a href="{% url 'add_connection' profile.get_name %}">Add Connection</a></li>
            <li><a href="{% url 'user_details' profile.get_name %}">Account Details</a></li>
            <li><a href="{% url 'edit_user' %}">Edit Account</a></li>
            <li class="nav-bar-logout"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>

        <h1>Assigned Tasks</h1>
        <h2>{{ profile.get_name }}</h2>

        <table class="table-list">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>State</th>
                <th>Duration</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            
            {% for task in tasks_list %}
                <tr>
                    <td>{{ task.get_name }}</td>
                    <td>{{ task.get_description }}</td>
                    <td>{{ task.get_deadline }}</td>
                    <td>{{ task.get_state }}</td>
                    <td>{{ task.id }}</td>
                    <td><a class="btn btn-sm" href="{% url 'update_task' task.id %}">Update</a></td>
                    <td><a class="btn btn-sm" href="{% url 'delete_task' task.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
